.table{
    width: 100%;
    margin-left: 140px;
}

td{
    text-align: center;
}

thead, th{
    text-align: center;
}

.view1{
    margin-top: 100px;
    margin-left: 200px;
}

.view1 h3{
    margin-bottom: 40px;
}

.list-group p{
    margin-bottom: 40px;
}
